---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/sections/Experience.astro';
import CodeIcon from '../components/icons/CodeIcon.astro';
import Projects from '../components/sections/Projects.astro';
import Hero from '../components/sections/Hero.astro';
import TitleSection from '../components/sections/TitleSection.astro';
import ProfileCheck from '../components/icons/ProfileCheck.astro';
import EducationIcon from '../components/icons/EducationIcon.astro';
---

<Layout 
	title="Oscar Romero's Portfolio - Software Developer"
	description="Software Developer from Puerto Rico, focused on building efficient and functional solutions, always prioritizing user experience and security."
>
	<main class="px-4">
		<SectionContainer class="py-16 md:pt-36 pb-28">
			<Hero />
			<slot />
		</SectionContainer>

		<div class="space-y-24">
		<SectionContainer id="projects">
			<TitleSection>
				<CodeIcon class="size-7"/>
				Projects
			</TitleSection>
			<Projects />
		</SectionContainer>

		<SectionContainer id="experience">
			<TitleSection>
				<ProfileCheck class="size-8"/>
				Experience
			</TitleSection>
			<Experience />
		</SectionContainer>

		<SectionContainer id="education">
			<TitleSection>
				<EducationIcon class="size-8"/>
				Education
			</TitleSection>
		</SectionContainer>
	</div>
	</main>
</Layout>
