---
import EducationItem from "./EducationItem.astro"

const EDUCATION = [
    {
        date: 'August 2024',
        title: 'Google Cybersecurity Certificate',
        company: 'Coursera',
        description: 'I have obtained experience with Linux, SIEM tools, IDS, and skills in identifying and mitigating cybersecurity risks, threats, and vulnerabilities.'
    },
    {
        date: 'August 2020 - May 2024',
        title: 'BS. Computer Science',
        company: 'Inter American University of Puerto Rico',
    },
]
---
<ol class="relative mt-16">
    {
      EDUCATION.map((education) => (
        <li class="">
            <EducationItem {...education} />
        </li>
      ))
    }
</ol>