---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'March 2024 - April 2024',
        title: 'Front-End Developer Intern',
        company: 'Involve LLC',
        description: 'Worked on front-end updates and feature integration for Laravel projects, and met with project managers to clarify requirements.'
    },
]
---
<ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
            <ExperienceItem {...experience} />
        </li>
      ))
    }
</ol>