---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
        date: 'March 2024 - April 2024',
        title: 'Front-End Developer Intern',
        company: 'Involve LLC',
        description: 'Worked on front-end updates and feature integration for Laravel projects, and met with project managers to clarify requirements.'
    },
    {
        date: 'August 2024',
        title: 'Google Cybersecurity Certificate',
        company: 'Coursera',
        description: 'I have obtained experience with Linux, SIEM tools, IDS, and skills in identifying and mitigating cybersecurity risks, threats, and vulnerabilities.'
    },
    
    {
        date: 'August 2020 - May 2024',
        title: 'BS. Computer Science',
        company: 'Inter American University of Puerto Rico',
    },
]
---
<ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
            <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>